.ac_results {
	padding: 0px;
	border: 1px solid black;
	overflow: hidden;
	z-index: 99999;
}

.ac_results ul {
	width: 100%;
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0;
	background-color: white;
}

.ac_results li {
	margin: 0px;
	padding: 2px 5px;
	cursor: default;
	display: block;
	font: menu;
	font-size: 12px;
	line-height: 16px;
	overflow: hidden;
}

.ac_odd {
	background-color: #eee;
}

.ac_over {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 90%, from(rgba(188, 201, 215, 0.8)), to(rgba(200, 230, 255, 0.9)));
}
